<!DOCTYPE html>
<html ng-app="mswApp">
<head>
	<title>MSW | Surf Forecast App</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="Check out the surf forecast coming form the MagicSeaweed API" />
	<meta name="author" content="Owain Stratton" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

	<link rel="stylesheet" href="styles/angular-material.css" />
	<link rel="stylesheet" href="styles/app.css" />
</head>
<body ng-cloak ng-controller="forecastCtrl as ctrl" layout="column">

	<md-toolbar class="md-primary md-hue-2 md-whiteframe-2dp" layout="row" layout-padding>
		<div class="md-display-1">{{ctrl.currentSpot[1].name}}</div>
		<span flex></span>
		<div layout="column" layout-align="center end">
			<div class="md-title">{{ctrl.time}}</div>
			<div class="md-subhead">{{ctrl.date}}</div>
		</div>
	</md-toolbar>

	<div class="container" layout="row" layout-align="center center" flex>

		<div hide show-gt-sm flex="10">
			<md-button class="md-fab md-primary md-hue-2 md-no-focus" ng-click="ctrl.prevForecast()">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px" aria-label="back arrow"></md-icon>
			</md-button>
		</div>

		<div md-swipe-right="ctrl.nextForecast()" md-swipe-left="ctrl.prevForecast()" class="content forecast" flex="80">
			<h2 class="md-display-3">{{ctrl.swell.minBreakingHeight}} - {{ctrl.swell.maxBreakingHeight}}{{ctrl.swell.unit}}</h2>
			<h3 class="md-display-1">Star Rating: </h3>
			<div>
				<h3>{{ctrl.swell.components.combined.height}}{{ctrl.swell.unit}} {{ctrl.swell.components.combined.compassDirection}} @ {{ctrl.swell.components.combined.period}} SEC</h3>
			</div>
		</div>

		<div hide show-gt-sm flex>
			<md-button class="md-fab md-primary md-hue-2" ng-click="ctrl.nextForecast()">
				<md-icon md-svg-icon="navigation:ic_arrow_forward_24px" aria-label="next arrow"></md-icon>
			</md-button>
		</div>

	</div>

	<script src="libs/vendor.bundle.js"></script>
	<script src="scripts/app.min.js"></script>
</body>
</html>
